# User-specific files
Pods/Pods.xcodeproj/xcuserdata/
Runner.xcodeproj/xcuserdata/

# Generated pod files
Pods/Local Podspecs/
Pods/Target Support Files/

# Pod manifest and lock files (regenerated on pod install)
Podfile.lock
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj

# Local properties
!local.properties.template
